/* Estilos generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para dispositivos de pantalla pequeña */

 @media screen and (max-width: 768px) {

    .nombre {
        font-size: 4vw;
    }

    header{
        display: flex;
        background-color: black;
        height: 15vh;
        justify-content: space-between;
        align-items: center;
    }
    
    .navega{
        justify-content: flex-end;
      }
    
    @font-face {
        font-family: encabezado;
        src: url(Poiret_One/PoiretOne-Regular.ttf);
    }
    
    header .enca{
        white-space: nowrap;
        align-items: center;
        display: flex; 
    }
    .logo,.nombre{
        flex: 1;
    }
    .nombre{
        padding: 10px;
        display: flex;
        color: white;
        font-family: encabezado;
        font-weight: normal;
        font-size: 2.5vw;
    }
    .logo{
        height: 10vh;
        max-height: 100%;
    }
    nav{
        white-space: nowrap;
        align-items: center;
        display: flex;
        flex: 1;   
    }
    
    .idioma{
        padding: 15px;
        text-decoration: none;
        font-weight: normal;
        font-size: 1.5vw;
    }
    .nav-link,.idioma{
        color: white;
        font-family: encabezado;
    }
    .nav-link{
        padding-left: 5%;
        text-decoration: none;
        font-size: 2.5vw;
    }

    .concat{
        display: flex;
        width: 26vw;
        height: 17vh;
        border-radius: 50%;
        object-fit: cover;
        mask-image: radial-gradient(ellipse farthest-corner at 50% 0%, transparent 50%, black 51%); 
        margin: 2%;
        margin-left: 38%;
    }
    
    .mes,
    .indica{
        font-size: 5vw;
        font-family: encabezado;
        margin: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
     }

     .receptor{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
     }

     .receptor input,.receptor textarea{
        display: block;
        flex: 1;
        margin: 3%;
        width: 45vw;
        font-family: encabezado;
        text-align: center;
    }  
    .env{
        background-color:black;
        color: white;
    }

    .titre{
        font-size: 6vw;
        font-family: encabezado;
        margin: 5%;
        margin-left: 4vw;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }
        .emisor{
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            font-family: encabezado; 
            padding: 5%; 
        }
        .pie{    
            display: flex;
            height: 12vh;
            align-items: center;
            justify-content: center;
            background-color: black;
        } 
} 

/* Estilos para dispositivos de pantalla mediana */

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .conteiner {

        background-color: aqua;

        }

        }


/* Estilos para dispositivos de pantalla grande */

 @media screen and (min-width: 1201px) {
    
    header{
        display: flex;
        background-color: black;
        height: 15vh;
        justify-content: space-between;
        align-items: center;
    }
    
    .navega{
        justify-content: flex-end;
      }
    
    @font-face {
        font-family: encabezado;
        src: url(Poiret_One/PoiretOne-Regular.ttf);
    }
    
    header .enca{
        white-space: nowrap;
        align-items: center;
        display: flex; 
    }
    .logo,.nombre{
        flex: 1;
    }
    .nombre{
        padding: 10px;
        display: flex;
        color: white;
        font-family: encabezado;
        font-weight: normal;
        font-size: 2.5vw;
    }
    .logo{
        height: 10vh;
        max-height: 100%;
    }
    nav{
        white-space: nowrap;
        align-items: center;
        display: flex;
        flex: 1;   
    }
    
    .idioma{
        padding: 15px;
        text-decoration: none;
        font-weight: normal;
        font-size: 1.5vw;
    }
    .nav-link,.idioma{
        color: white;
        font-family: encabezado;
    }
    .nav-link{
        padding-right: 5%;
        text-decoration: none;
        font-size: 2.5vw;
    }

    .nav-link:hover{
        text-decoration: underline;
    }
    
    .nav-link3{
        text-decoration: none;
        font-size: 2.5vw;
        font-family: encabezado;
        color: black;
        background-color: white;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    
    .nav-link2{
        padding-right: 5%;
        text-decoration: none;
        font-size: 2.5vw;
        color: white;
        font-family: encabezado;
    }
    
    .nav-link2:hover{
        text-decoration: underline;
    }



    .concat{
        display: flex;
        width: 13vw;
        height: 35vh;
        border-radius: 50%;
        object-fit: cover;
        /* mask-image: radial-gradient(ellipse farthest-corner at 50% 0%, transparent 50%, black 51%); */
        margin: 10%;
    }


    .pie {
        background-color: black;
        height: 10vh;
    }
    .diseño{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;            
    }

    .global{
        
        flex: 1;
        display: flex;
    }

    .conteiner{
        
        display: flex;
        height: 80vh;
    }

    .emisor{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-family: encabezado;
    }
    
    
    .global{
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 100vh;
        justify-content: center;
        align-items: center;
    }

    .titre{
        font-size: 2vw;
        font-family: encabezado;
        margin: 5%;
        margin-left: 4vw;
        }


     .mes,
     .indica{
        font-size: 1.5vw;
        font-family: encabezado;
        margin: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
     }  
    
     .receptor input,.receptor textarea{
        display: block;
        flex: 1;
        margin: 3%;
        width: 25vw;
        font-family: encabezado;
        text-align: center;
    }
     
     .receptor{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
     
    .com{
        height: 15vh;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 25vw;
        font-family: encabezado;
        margin: 3%;
        margin-left: 10px;
    }
    .env{
        background-color:black;
        color: white;
    }

    
    

 }